.container{
    width: min(90%,1000px);
    margin-inline: auto;
    border: 1px solid red;
}
.darkbackground{
    background-color: #333333;
    color: white;


    padding: max(3vh)1.5rem;
    margin-bottom: max(5vh,2rem);
}